__pycache__
/log
/dist
/build
build*
/src/packages
/src/algorithm/matlab
/src/algorithm/py/test
/src/algorithm/py/Xinanjiang/build
/src/algorithm/py/Xinanjiang/dist
/src/algorithm/py/Xinanjiang/tmp
/src/algorithm/py/Runfall/source
/src/algorithm/py/Supply/source
*.exe
dist*
*.egg-info
*.pyc
*.pyo
*.pyd
*.so
*dist
*.pyx
/src/algorithm/py/XAJ/source
/docs
/src/algorithm/py/FloodControl/source
~$*
*.log
.DS_Store